<button class="btn btn-primary w-100 rounded-5 p-3" (click)="getData()">Get Data</button>

<div class="row mt-5">
  <div class="col-12 text-center"></div>
  <div class="col-6">

    <div class="card m-3 border-success" style="width: 18rem;" *ngFor="let classe of data | keyvalue" (click)="getClasse(classe.key)">
      <img class="card-img-top" src="../../assets/IIS_VALLAURI.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title text-primary">{{classe.key}}</h3>
        <p class="card-text">Classe {{classe.key}} dell'IIS "G. Vallauri" di FOSSANO</p>
      </div>
    </div>


  </div>
  <div class="col-6">
    <div class="col text-center text-info">
      <!--Totale premi classe {{keyClasse}}: <div class="fw-bold col">{{numeroPremi}}</div>-->
      <br>
      <!--<input type="text" class="form-control" [(ngModel)]="numeroClassi">-->
    </div>



    <componente-figlio [vetClassi]="classi" (sendNpasti)="getNclassi($event)">

    </componente-figlio>

  </div>

</div>
