<div class="bg-warning">
  <child>
    <!--
    Ora andremo a fare dei contenuti da impaginare...
    -->
    <button class="btn btn-success">Condividi</button>
    <span>Span Element</span>
    <h1>{{title}} <span class="red">Componente H1</span> </h1>
    <h2>FINE COMPONENTE</h2><span class="red"><h5>contenuto di span in glasse "red"</h5></span>

    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Asperiores at aut delectus eligendi,
      facere harum in ipsa, iste magnam
      obcaecati odio officiis porro
      praesentium quam quidem quos
      soluta ut veritatis.
    </div>
    <random>
      <span class="red">Richiamo del componente Random</span>
    </random>
    <!--
     Il contenuto che noi abbiamo inserito qui è un parametro.
     -->
  </child>
</div>
