<div class="text-center bg-warning align-content-center">

  <div class="h3">
    <label for="chkShow" class="text-dark ">Show Pages:</label>
    <input type="checkbox" id="chkShow" class="form-check-inline"  [(ngModel)]="showPages">
  </div>
  <div class="container container-md">
    <table class="table table-dark">
      <thead class="bg-dark">
      <!-- Le pipe di angular sono funzioni per lavorarci -->
      <tr>
        <th *ngFor="let b of books[0] | keyvalue">
          <span *ngIf="b.key != 'pages' else mostraIntestPages">{{b.key.toUpperCase()}}</span>
          <ng-template #mostraIntestPages>
            <span *ngIf="showPages">{{b.key.toUpperCase()}}</span>
          </ng-template>

        </th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let item of books" (click)="sendCasa(item.cEd)" [ngClass]="{'ita':item.country == 'Italia','bg-warning':item.country=='Italia'}">
        <td *ngFor="let field of item | keyvalue" >
          <span *ngIf="field.key != 'pages'; else mostraPages">{{field.value}}</span>
          <ng-template #mostraPages>
            <span *ngIf="showPages; else mostraAsterisco">{{field.value}}</span>
            <ng-template #mostraAsterisco>***</ng-template>
          </ng-template>

        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <br>
  <hr class="text-dark">
  <br>

  <div class="bg-warning m-3 p-3"> <!--$event è l'evento passato dal padre al figlio-->
    <casaed [codCasa]="codCasaEdForChild" (sendLastUser)="getLastUser($event)"></casaed>
  </div>




</div>



<div class="bg bg-dark text-white m-3 p-3" *ngIf="this.visDatiLastUser">
  Ultimo prestito del libro: {{objFromChild.user}} - {{objFromChild.dataPrestito}} - n. giorni {{objFromChild.nGiorni}}
</div>

<hr class="text-dark">

<div>
  <button class="btn btn-danger w-100" (click)="visLastUserService()">
    Visualizza Last User service
  </button>
</div>

<br>
