<button class="btn btn-dark" (click)="visCodCasa()">Visualizza cod casa ed</button>
<div *ngFor="let ced of casaEditrice">
  <div *ngIf="ced.cod == codCasa">
    {{ced.cod}} - {{ced.nome}} - {{ced.sede}} - {{ced.capSociale}}€
  </div>
</div>
<br>
<hr class="text-dark">

<div class="row">
  <label for="txtUtente" class="col-1">Ultimo utente ad aver noleggiato il libro: </label>
  <input [(ngModel)]="lastUser" type="text" class="form-control col-1 w-50" id="txtUtente">
  <button class="btn btn-primary w-100 mt-3 mb-3" (click)="inviaLastUser()">Invia dati al componente padre</button>
</div>
